{{- with .Values.logging.hostTailer }}
{{- if and $.Values.logging.enabled .enabled }}
---
apiVersion: logging-extensions.banzaicloud.io/v1alpha1
kind: HostTailer
metadata:
  name: {{ .name }}
  namespace: {{ include "logging-operator.namespace" . }}
spec:
  {{- with .fileTailers }}
  fileTailers:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .systemdTailers }}
  systemdTailers:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  enableRecreateWorkloadOnImmutableFieldChange: {{ $.Values.logging.enableRecreateWorkloadOnImmutableFieldChange }}
  workloadMetaOverrides: {{ .workloadMetaOverrides | default dict | toJson }}
  workloadOverrides: {{ .workloadOverrides | default dict | toJson }}
  {{- with .image }}
  image:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
